In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv("training_data.csv")

In [3]:
train_data.head()

,id,game,white,black,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,timecontrol,date,time,white_clock,black_clock,eco,plycount,commentaries,moves
0,24843,"""Sillycon"" vs ""Danyboyfr""",Sillycon,Danyboyfr,2391,1706,39.8,324.9,True,False,900+0,NaN,12:35:00,15:00.0,15:00.0,B53,45,Black checkmated,1. e4 c6 2. Nf3 d6 3. d4 b5 4. Bd3 a5 5. O-O N...
1,18981,"""cagliari"" vs ""Knightsmasher""",cagliari,Knightsmasher,1716,2611,341.5,61.1,False,True,60+0,NaN,05:13:00,01:00.0,01:00.0,C42,30,White forfeits on time,1. e4 e5 2. d3 Nf6 3. Bg5 h6 4. Bxf6 Qxf6 5. N...
2,24251,"""sylwild"" vs ""Knightsmasher""",sylwild,Knightsmasher,1736,2319,45.3,46.1,False,True,900+0,NaN,12:18:00,15:00.0,15:00.0,B00,1,White resigns,1. e4 Nf6 2. e5 Nd5 3. d4 d6 4. Bc4 e6 5. Nf3 ...
3,35737,"""archonpaladin"" vs ""IFDThor""",archonpaladin,IFDThor,1803,2260,38.9,16.3,False,True,300+0,NaN,09:30:00,05:00.0,05:00.0,B10,56,White resigns,1. e4 c5 2. Nc3 Nc6 3. Nf3 d6 4. Bc4 Nf6 5. O-...
4,34345,"""sparse"" vs ""IFDThor""",sparse,IFDThor,1884,2184,28.0,16.3,False,True,300+0,NaN,18:40:00,05:00.0,05:00.0,B18,58,White resigns,1. g3 e5 2. Bg2 Nf6 3. d3 d5 4. Nc3 Bb4 5. Bd2...

In [5]:
test_data = pd.read_csv("testing_data.csv")

In [6]:
test_data.head()

,id,game,white,black,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,timecontrol,date,time,white_clock,black_clock,eco,plycount,moves
0,76456,"""juropbike"" vs ""BabyLurking""",juropbike,BabyLurking,2319,2921,39.8,16.7,False,True,60+0,NaN,05:24:00,01:00.0,01:00.0,A00,0,1. d4 Nf6 2. c4 e6 3. Nf3 b6 4. g3 Ba6 5. b3 B...
1,17495,"""nikst"" vs ""JuniorLurking""",nikst,JuniorLurking,2048,2141,39.1,28.2,False,True,900+0,NaN,08:15:00,15:00.0,15:00.0,A45,19,1. e4 c5 2. Nc3 Nc6 3. Bc4 Nf6 4. d4 cxd4
2,18471,"""KingLudwig"" vs ""GriffySr""",KingLudwig,GriffySr,2112,2005,34.8,19.9,False,True,300+0,NaN,02:40:00,05:00.0,05:00.0,A00,47,1. d4 Nf6 2. Nf3 g6 3. Nc3 Bg7 4. e4 O-O 5. e5...
3,72817,"""joshllyman"" vs ""JuniorLurking""",joshllyman,JuniorLurking,2542,3099,48.5,17.9,False,True,60+0,NaN,07:52:00,01:00.0,01:00.0,A00,0,1. b3 e5 2. g3 d5 3. d3 Nf6 4. Bg5 h6 5. Bxf6 ...
4,51510,"""Knightsmasher"" vs ""Chhirag""",Knightsmasher,Chhirag,2419,1671,52.0,296.3,True,False,900+0,NaN,14:51:00,15:00.0,15:00.0,C42,29,1. e4 c6 2. d4 d5 3. Nc3 dxe4 4. Nxe4 Bf5 5. N...

In [11]:
train_data.describe()

,id,white_elo,black_elo,white_rd,black_rd,date,plycount
count,52676.000000,52676.000000,52676.000000,52676.000000,52676.000000,0.0,52676.000000
mean,40513.854943,2151.600881,2152.034000,51.449212,51.058201,NaN,58.863543
std,23413.471103,290.684840,291.789731,58.330943,57.916217,NaN,44.989570
min,1.000000,1046.000000,995.000000,0.000000,0.000000,NaN,0.000000
25%,20235.750000,1951.000000,1951.000000,23.600000,23.600000,NaN,30.000000
50%,40497.500000,2143.000000,2143.000000,34.000000,33.800000,NaN,51.000000
75%,60861.250000,2342.000000,2343.000000,49.100000,48.800000,NaN,81.000000
max,81040.000000,3491.000000,3496.000000,350.000000,350.000000,NaN,477.000000

In [12]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52676 entries, 0 to 52675
Data columns (total 19 columns):
id              52676 non-null int64
game            52676 non-null object
white           52676 non-null object
black           52676 non-null object
white_elo       52676 non-null int64
black_elo       52676 non-null int64
white_rd        52676 non-null float64
black_rd        52676 non-null float64
whiteiscomp     52676 non-null bool
blackiscomp     52676 non-null bool
timecontrol     52676 non-null object
date            0 non-null float64
time            52676 non-null object
white_clock     52676 non-null object
black_clock     52676 non-null object
eco             52676 non-null object
plycount        52676 non-null int64
commentaries    52676 non-null object
moves           52676 non-null object
dtypes: bool(2), float64(3), int64(4), object(10)
memory usage: 6.9+ MB

In [20]:
sum(train_data["white_clock"]==train_data["black_clock"])

52676

In [21]:
train_data.shape

(52676, 19)

In [23]:
chess = train_data.drop("commentaries",axis=1)

In [24]:
from sklearn.base import BaseEstimator, TransformerMixin
class DataFrameSelector(BaseEstimator,TransformerMixin):
    def __init__(self,attribute_names):
        self.attribute_names=attribute_names
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        return X[self.attribute_names].values

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
scaler = StandardScaler()

In [32]:
from sklearn.preprocessing import LabelBinarizer,Imputer
class LabelBinarizer_new(TransformerMixin, BaseEstimator):
    def fit(self, X, y = 0):
        self.encoder = None
        return self
    def transform(self, X, y = 0):
        if(self.encoder is None):
            print("Initializing encoder")
            self.encoder = LabelBinarizer();
            result = self.encoder.fit_transform(X)
        else:
            result = self.encoder.transform(X)
        return result; 
train_data["whiteiscomp"]=train_data["whiteiscomp"].astype(int)
train_data["blackiscomp"]=train_data["blackiscomp"].astype(int)
train_data.head()

,id,game,white,black,white_elo,black_elo,white_rd,black_rd,whiteiscomp,blackiscomp,timecontrol,date,time,white_clock,black_clock,eco,plycount,commentaries,moves
0,24843,"""Sillycon"" vs ""Danyboyfr""",Sillycon,Danyboyfr,2391,1706,39.8,324.9,1,0,900+0,NaN,12:35:00,15:00.0,15:00.0,B53,45,Black checkmated,1. e4 c6 2. Nf3 d6 3. d4 b5 4. Bd3 a5 5. O-O N...
1,18981,"""cagliari"" vs ""Knightsmasher""",cagliari,Knightsmasher,1716,2611,341.5,61.1,0,1,60+0,NaN,05:13:00,01:00.0,01:00.0,C42,30,White forfeits on time,1. e4 e5 2. d3 Nf6 3. Bg5 h6 4. Bxf6 Qxf6 5. N...
2,24251,"""sylwild"" vs ""Knightsmasher""",sylwild,Knightsmasher,1736,2319,45.3,46.1,0,1,900+0,NaN,12:18:00,15:00.0,15:00.0,B00,1,White resigns,1. e4 Nf6 2. e5 Nd5 3. d4 d6 4. Bc4 e6 5. Nf3 ...
3,35737,"""archonpaladin"" vs ""IFDThor""",archonpaladin,IFDThor,1803,2260,38.9,16.3,0,1,300+0,NaN,09:30:00,05:00.0,05:00.0,B10,56,White resigns,1. e4 c5 2. Nc3 Nc6 3. Nf3 d6 4. Bc4 Nf6 5. O-...
4,34345,"""sparse"" vs ""IFDThor""",sparse,IFDThor,1884,2184,28.0,16.3,0,1,300+0,NaN,18:40:00,05:00.0,05:00.0,B18,58,White resigns,1. g3 e5 2. Bg2 Nf6 3. d3 d5 4. Nc3 Bb4 5. Bd2...

In [28]:
#whiteiscomp_ix, blackiscomp_ix, time_ix, whiteclock_ix, timecontrol_ix = 9, 10, 13, 14, 11
#class CombinedAttributesAdder(BaseEstimator,TransformerMixin):
 #   def __init__(self,add_bedrooms_per_room=True):
  #      self.add_bedrooms_per_room = add_bedrooms_per_room
   # def fit(self,X,y=None):
    #    return self
    #def transform(self,X,y=None):

In [29]:
num_attribs = ["white_elo","black_elo","white_rd","black_rd","whiteiscomp","blackiscomp","plycount"]

In [33]:
from sklearn.pipeline import Pipeline

In [34]:
num_pipeline = Pipeline([('selector',DataFrameSelector(num_attribs)),('scaler',StandardScaler())])

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
encoder = LabelEncoder()

In [37]:
chess_label = train_data["commentaries"]

In [38]:
chess_label_encoded = encoder.fit_transform(chess_label)

In [41]:
print(encoder.classes_)

['Black checkmated' 'Black forfeits by disconnection'
 'Black forfeits on time'
 'Black ran out of time and White has no material to mate' 'Black resigns'
 'Game drawn by mutual agreement' 'Game drawn by repetition'
 'Game drawn by stalemate' 'Game drawn by the 50 move rule'
 'Neither player has mating material' 'White checkmated'
 'White forfeits by disconnection' 'White forfeits on time'
 'White ran out of time and Black has no material to mate' 'White resigns']

In [42]:
train_data_cleaned = num_pipeline.fit_transform(train_data)

In [43]:
train_data_cleaned

array([[ 0.82357715, -1.52862896, -0.19971086, ...,  1.00655195,
        -1.00655195, -0.30815309],
       [-1.49854742,  1.57294897,  4.97255019, ..., -0.9934907 ,
         0.9934907 , -0.64156686],
       [-1.42974372,  0.57221885, -0.10542039, ..., -0.9934907 ,
         0.9934907 , -1.28616683],
       ...,
       [-0.85179272, -0.07208684, -0.46715293, ..., -0.9934907 ,
         0.9934907 , -0.33038067],
       [ 0.02201415, -0.25372621, -0.52887033, ..., -0.9934907 ,
         0.9934907 ,  1.60341924],
       [-0.5456163 , -0.26400769, -0.4877254 , ...,  1.00655195,
        -1.00655195,  0.98104685]])

In [44]:
from sklearn.linear_model import SGDClassifier

In [45]:
sgd_classifier = SGDClassifier()

In [46]:
from sklearn.model_selection import cross_val_score

In [54]:
cross_val_score(forest_clf,train_data_cleaned,chess_label_encoded,scoring='accuracy',cv=3)

array([0.59957868, 0.60206174, 0.59935058])

In [49]:
from sklearn.tree import DecisionTreeClassifier

In [50]:
tree_clf = DecisionTreeClassifier()

In [52]:
from sklearn.ensemble import RandomForestClassifier

In [53]:
forest_clf = RandomForestClassifier(n_estimators=100)